@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap");

/* General */
body {
  font-family: "Roboto", sans-serif;
  color: #F1F5F7;
}

.primaryBG {
  background-color: #F1F5F7;
  color: #1D9BC6;
}

.secondaryBG {
  background-color: #1E2740;
}

.align-center {
  align-items: center;
}

.turquoise {
  background-color: #82A4AB;
}

a {
  font-weight: bold;
  font-family: "Lato", sans-serif;
  color: black;
}

.hide {
  display: none;
}

/* NavBar */

#navbarNav {
  position: fixed;
  right: 0px;
}

.navbar {
  border-bottom: 5px solid #1D9BC6;
}

#navbarNav ul li a {
  text-decoration: none;
  font-size: 15px;
  display: block;
  padding: 20px 20px;
  display: block;
}

.far,
.fas {
  margin-right: 3px;
  font-size: 15px;
}

.active {
  background-color: #1D9BC6 !important;
  color: #F1F5F7 !important;
  border-top-right-radius: 25px !important;
  border-top-left-radius: 25px !important;
  border-bottom-left-radius: 25px !important;
  text-decoration: unset !important;
}

/* main */
.photo1 {
  width: 300px;
}

.center {
  text-align: center;
}

.section {
  padding: 80px 0px;
}

.site-btn {
  color: #F1F5F7;
  min-width: 170px;
  text-align: center;
  padding: 15px;
  display: inline-block;
  border: none;
  border-radius: 2px;
  font-size: 12px;
  line-height: 1.66;
  text-transform: uppercase;
  font-weight: 700;
}

/* Portfolio */

.portfolio-item {
  width: 100%;
  margin-top: 20px;
}

.portfolio-links {
  background-color: white;
  border: none;
  text-transform: uppercase;
  text-decoration-line: underline;
  font-size: 13px;
  font-family: "Lato", sans-serif;
}

.submit {
  margin-top: 40px;
  background-color: #82A4AB;
}

.m5 {
  margin: 5px 0px;
}

.portfolio-title {
  margin-top: 10px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
}

.portfolio-p {
  font-family: "Lato", sans-serif;
  margin-top: -10px;
}

/* footer */

footer {
  background-color: black;
  padding: 20px;
  text-align: center;
  color: white;
}

.error {
  color: red;
  margin-left: 10px;
}

#contact-form p {
  margin: 0px;
}

#contact-form .form-control {
  margin: 10px 0px;
}

#downloadcv {
  display: none;
}


/* Media queries */

@media (max-width: 991px) {
  #navbarNav {
    position: relative;
  }

  .portfolio-links {
    width: 100%;
    padding: 15px;
    margin: 10px 0px;
  }

  .photo1 {
    margin-top: 20px;
  }

  #navbarNav ul li a {
    margin-top: 5px;
  }

  .main-para {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .site-btn {
    margin-top: 5px;
  }
}